@charset "UTF-8";
/*============
初期設定
=============*/
@import url(sanitize.css);
@font-face {
  font-family: "HannariMincho";
  src: url(font/HannariMincho-Regular.otf);
}

@font-face {
  font-family: "harenosora";
  src: url(font/Harenosora.otf);
}

@font-face {
  font-family: "Yugoth";
  src: url(font/YuGothR.ttc);
}

@font-face {
  font-family: "YuGothB";
  src: url(font/YuGothB.ttc);
}

/*============
  変数定義
=============*/
/*============
全体設定
=============*/
* {
  margin: 0;
  border: 0;
  padding: 0;
  color: #222222;
  font-family: "YugothR";
  font-size: 1rem;
  list-style: none;
  text-decoration: none;
}

h2 {
  -ms-writing-mode: tb-rl;
  -webkit-writing-mode: vertical-rl;
          writing-mode: vertical-rl;
  text-orientation: upright;
  display: inline-block;
  font-family: "HannariMincho";
  font-size: 1.5rem;
  z-index: 1;
  margin-top: -1rem;
}

.background-heading {
  width: 50px;
  height: 50px;
  background-color: #fffcdd;
  border-radius: 50%;
}

.btn {
  text-align: center;
  margin-top: 3rem;
}

.btn a {
  position: relative;
  display: inline-block;
  margin: 0 15%;
}

.btn a:hover > .background-btn {
  background-color: #fffcdd;
}

.btn a .background-btn {
  width: 30px;
  height: 30px;
  background-color: #f1dbdb;
  border-radius: 10px;
  margin-top: 1rem;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  z-index: -1;
  margin-left: -10%;
}

.btn a p {
  margin-top: -2rem;
  font-size: 1.2rem;
  font-family: "harenosora";
  -webkit-transform: rotate(0);
          transform: rotate(0);
}

/*============
ハンバーガーメニュー
=============*/
/*============
nav
=============*/
nav {
  display: block;
  position: fixed;
  top: 0;
  left: -300px;
  bottom: 0;
  width: 300px;
  background: #ffffff;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  z-index: 3;
  opacity: 0;
}

.open nav {
  left: 0;
  opacity: 1;
}

nav .inner {
  padding: 25px;
}

nav .inner ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav .inner ul li {
  position: relative;
  margin: 0;
  border-bottom: 1px solid #333;
}

nav .inner ul li a {
  display: block;
  color: #333;
  font-size: 14px;
  padding: 1em;
  text-decoration: none;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
}

nav .inner ul li a:hover {
  background: #e4e4e4;
}

@media screen and (max-width: 767px) {
  nav {
    left: -220px;
    width: 220px;
  }
}

/*============
.toggle_btn
=============*/
.toggle_btn {
  display: block;
  position: fixed;
  top: 25px;
  right: 15px;
  width: 30px;
  height: 30px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  cursor: pointer;
  z-index: 3;
}

.toggle_btn span {
  display: block;
  position: absolute;
  left: 0;
  width: 30px;
  height: 2px;
  background-color: #333;
  border-radius: 4px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.toggle_btn span:nth-child(1) {
  top: 4px;
}

.toggle_btn span:nth-child(2) {
  top: 14px;
}

.toggle_btn span:nth-child(3) {
  bottom: 4px;
}

.open .toggle_btn span {
  background-color: #fff;
}

.open .toggle_btn span:nth-child(1) {
  -webkit-transform: translateY(10px) rotate(-315deg);
  transform: translateY(10px) rotate(-315deg);
}

.open .toggle_btn span:nth-child(2) {
  opacity: 0;
}

.open .toggle_btn span:nth-child(3) {
  -webkit-transform: translateY(-10px) rotate(315deg);
  transform: translateY(-10px) rotate(315deg);
}

/*============
#mask
=============*/
#mask {
  display: none;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.open #mask {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.8;
  z-index: 2;
  cursor: pointer;
}

/*============
 ヘッダー
=============*/
header .header-container {
  overflow: hidden;
}

header .header-wrapper {
  overflow: hidden;
  text-align: center;
  height: 90vh;
  width: 100vw;
  background-size: cover;
  background-position: center;
  background-image: url(img/header_back.png);
  border-bottom-right-radius: 2500px 500px;
  border-bottom-left-radius: 2500px 500px;
  margin-left: -150px;
  margin-right: -150px;
  padding-left: 150px;
  padding-right: 150px;
}

header .header-top {
  text-align: left;
}

header .header-top a i {
  position: fixed;
  top: 80px;
  right: 20px;
  z-index: 3;
}

header .header-top .size {
  font-size: 1.3rem;
}

header .header-top img {
  width: 50px;
  margin: 1rem 0 0 1rem;
}

header .header-content {
  -ms-writing-mode: tb-rl;
  -webkit-writing-mode: vertical-rl;
          writing-mode: vertical-rl;
  text-orientation: upright;
  display: inline-block;
}

header .header-content .header-content-h1 {
  position: absolute;
  top: -5rem;
  right: calc(50% - 30px);
  z-index: 2;
}

header .header-content .header-content-h1 h1 {
  font-family: "HannariMincho";
  font-size: 2rem;
  margin: 0;
}

header .header-content .header-content-h1 h1:last-child {
  margin-top: 20rem;
}

header .header-content img {
  width: 100px;
  position: absolute;
  top: 200px;
  right: calc(50% - 50px);
  z-index: 1;
}

header .header-img img:nth-child(1) {
  width: 130px;
  height: 100px;
  position: absolute;
  top: 432px;
  left: calc(25% - 65px);
}

header .header-img img:nth-child(2) {
  width: 130px;
  height: 100px;
  position: absolute;
  top: 520px;
  left: -40px;
}

header .header-img img:nth-child(3) {
  width: 130px;
  height: 100px;
  position: absolute;
  top: 550px;
  left: calc(50% - 65px);
}

header .header-img img:nth-child(4) {
  width: 100px;
  height: 130px;
  position: absolute;
  top: 416px;
  left: calc(75% - 65px);
}

header .header-img img:nth-child(5) {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 0% 0%;
     object-position: 0% 0%;
  width: 80px;
  height: 130px;
  position: absolute;
  top: 500px;
  right: 0px;
}

/*============
 メイン
=============*/
.first {
  margin-top: 6rem;
  position: relative;
}

.first .background-heading {
  margin: 0 1rem 0 0;
  margin-left: calc(100% - 2.5rem);
  z-index: 0;
}

.first .first-content {
  text-align: right;
  margin-right: 1rem;
}

.first .first-content .first-content-p {
  text-align: left;
  margin: -3rem 0 0 1rem;
  width: 80%;
}

.first .first-content .first-content-p p {
  margin-bottom: 1rem;
}

.first .first-img {
  overflow: hidden;
  position: relative;
}

.first .first-img .background-first-img {
  width: 150px;
  height: 150px;
  background-color: #fffcdd;
  border-radius: 50%;
  margin: 5rem 0 0 0;
  margin-left: calc(100% - 130px);
}

.first .first-img img {
  position: absolute;
  width: 70%;
  border-radius: 70px;
  top: 2rem;
  left: 1rem;
}

.sweet {
  margin-top: 6rem;
}

.sweet .sweet-content {
  margin-left: 1rem;
}

.sweet .sweet-menu {
  margin-top: -12rem;
}

.sweet .sweet-menu h3 {
  font-family: "harenosora";
  display: inline-block;
  border-radius: 50%;
  padding: 0.2rem 0.6rem 0.6rem 0.6rem;
}

.sweet .sweet-menu p {
  width: 90%;
  margin: 1rem 0;
}

.sweet .sweet-menu .background {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.sweet .spring h3 {
  background-color: #f1dbdb;
}

.sweet .spring .background {
  background-color: #f1dbdb;
}

.sweet .spring img {
  position: absolute;
  top: 3.5rem;
  left: 5rem;
  width: 180px;
  height: 150px;
}

.sweet .summer h3 {
  background-color: #c5d6d6;
}

.sweet .summer .background {
  background-color: #c5d6d6;
}

.sweet .summer img {
  position: absolute;
  top: 3.5rem;
  left: 0rem;
  width: 150px;
  height: 150px;
}

.sweet .fall h3 {
  background-color: #f1e2d5;
}

.sweet .fall .background {
  background-color: #f1e2d5;
}

.sweet .fall img {
  position: absolute;
  top: 5rem;
  left: 5rem;
  width: 170px;
  height: 110px;
}

.sweet .winter h3 {
  background-color: #c5c7d6;
}

.sweet .winter .background {
  background-color: #c5c7d6;
}

.sweet .winter img {
  position: absolute;
  top: 4rem;
  left: 0rem;
  width: 170px;
  height: 120px;
}

.sweet .menu-right {
  position: relative;
  margin-left: 15%;
}

.sweet .menu-left {
  margin: 0 10% 0 5%;
  position: relative;
}

.sweet .menu-left h3 {
  margin-left: 80%;
}

.sweet .menu-left .background {
  margin-left: 30%;
}
/*# sourceMappingURL=index.css.map */